body {
  background: linear-gradient(270deg, #383664, #333333, #4b4949f7);
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 20px;
}

h1.heading {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.15);
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}


form {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  max-width: 500px;
  margin: 0 auto 20px auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.7);
}

#comments {
  max-width: 500px;
  margin: 0 auto;
}

.comment {
  background: #fff;
  border-left: 4px solid #007bff;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  color: #333;
}

.comment .name {
  font-weight: bolder;
}

.comment .time {
  font-size: 0.9em;
  color: #555;
}

input, textarea {
  width: 100%;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: block;
  margin-bottom: 16px;
  font-size: 1rem;
  outline: none;
  transition: 0.2s;
}
input:focus, textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

button {
  background: linear-gradient(45deg, #007bff, #00d4ff);
  border: none;
  padding: 12px 25px;
  font-size: 1rem;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: 0.3s;
}
button:hover {
  transform: scale(1.05);
  background: linear-gradient(45deg, #0056b3, #00aaff);
}
